.main-page {
    display: grid;
    background-color: rgb(222, 253, 230);
    min-height: 100vh;
    grid-template-rows: 20px auto;
    gap: 10px;
    justify-items: center;

    &_nav {
        height: 100%;
        width: 100%;
        background-color: rgb(32, 121, 54);
    }
}

body {
    margin: 0;
}